<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Escola Virtual</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" th:href="@{/css/style.css}">
    </head>

    <body>
        <h1>Escola Virtual</h1>
        <h2>Formulário de Pré-Matrícula</h2>
        <hr class="linha">
        
            <form method="post" action="#" th:action="@{/cadastro}" th:object="${form}">
                <div class="dados">
                    <p><strong>Dados pessoais:</strong></p>
                    <label th:for="name">Nome:</label>
                    <input type="text" id="name" name="name" th:value="*{name}" /><br><br>

                    <label for="birthdate">Nascimento: </label>
                    <input type="date" id="birthdate" name="birthdate" th:value="*{birthdate}" /><br><br>

                    <label for="mother">Nome da mãe:</label>
                    <input type="text" id="mother" name="mother" th:value="*{mother}" /><br><br>

                    <label for="father">Nome do pai:</label>
                    <input type="text" id="father" name="father" th:value="*{father}" /><br><br>

                    <label for="phone">Telefone:(</label>
                    <input type="text" name="ddd" id="ddd" th:value="*{ddd}" /> )
                    <input type="tel" id="phone" name="phone" th:value="*{phone}" /><br><br>

                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email"  th:value="*{email}" /><br><br>
                </div>
                <div class="dados">
                    <p><strong>Informações de matrícula:</strong></p>
                    <label th:for="grade">Série:</label>
                    <select id="grade" name="grade" th:field="*{grade}">
                        <option th:each="gr : ${gradeOptions}" th:value="${gr}" th:text="${gr}"></option>
                    </select><br><br>
                
                        <p>Turno:</p>
                        <ul>
                            <li th:each="sh : ${shiftOptions}">
                              <input type="radio" th:field="*{shift}" th:value="${sh}" />
                              <label th:for="shift" th:text="${sh}"></label>
                            </li>
                          </ul><br><br>
                
                        <p>Atividades Extracurriculares:</p>
                        <ul>
                            <li th:each="extra : ${extraOptions}">
                                <input type="checkbox" th:field="*{extracurricular}" th:value="${extra}" />
                                <label th:for="extracurricular" th:text="${extra}"></label>
                            </li>   
                        </ul><br>

                        <script type="text/javascript" th:src="@{/js/checkbox-limit.js}"></script>
                
                        <input type="submit" value="Enviar Formulário">
                        <input type="reset" value="Limpar Campos">
                    </div>
            </form>
   
    </body>
</html>